//9장 컴포넌트 스타일링 - 변수 사용
@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$breakpoints: ( //추후 반응형 디자인 코드 작성 기준점으로 사용
    small: 376px,
    medium: 768px,
    large: 1024px,
    huge: 1200px
);

$size: 100px;
$color: blue;

@mixin border-at-round() {
  border-radius: 30px;
  transform: translate(-50%, -50%);
}

@mixin place-at-center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
